* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    font-size: 100%;    
}

.conteudo {
    background-image: url("imagens/fundo/paisagem-canion.jpg");
    height: 600px;
}